<div class="d-flex w-100 p-relative h-100">
    <div class="p-absolute pet">
        <img class="linh-thu" src="../img/8936.png">
    </div>
    <div class="p-absolute pet-ac">
        <img class="than-chet" src="../img/19061.png">
    </div>
    <div class="infor-user w-100 h-100">
        <div class="head-paper d-flex w-100 justify-content-center align-item-center">
            <h2>Phiếu hiển thị thông tin</h2>
        </div>
        <div class="d-flex flex-column infor-self">
            <div class="infor">
                <h3>I.Thông tin cá nhân</h3>
                <div class="myInfor info">
                    <div class="running-man">
                        <img class="trainner" src="../img/trainner.png">
                    </div>
                    <div class="d-flex flex-column justify-content-space_around w-100">
                        <div class="d-flex justify-content-space_between">
                            <div>Họ và tên: <span id="name" class="inforText"></span></div>
                            <div>Nhóm gợi ý: <span id="suggest" class="inforText"></span></div>
                        </div>
                        <div class="d-flex justify-content-space_between">
                            <div>Nhóm: <span id="group" class="inforText"></span></div>
                            <div>Topic: <span id="topic" class="inforText"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="infor-content d-flex wrapper">
                <div class="learning">
                    <h3>II.Thông tin học tập cơ bản</h3>
                    <div class="info">
                        <div id="Điểm TB MIS">
                            <p>Điểm TB MIS: <span id="mis" class="inforText"></span></p>
                        </div>
                        <div id="Điểm TB BigData">
                            <p>Điểm TB BigData : <span id="bigdata" class="inforText"></span></p>
                        </div>
                        <div id="Thời gian tự học TB trong ngày">
                            <p>Thời gian tự học TB trong ngày : <span id="time-learn" class="inforText"></span></p>
                        </div>
                        <div id="Số lần đi học muộn trong giai đoạn 1">
                            <p>Số lần đi học muộn trong giai đoạn 1 : <span class="inforText" id="no-school-day"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <h3>III.Kỹ năng sinh tồn</h3>
                    <div class="info">
                        <div id="Kỹ năng mềm">
                            <p>Kỹ năng mềm : <span class="inforText" id="soft-skill"></span> </p>
                        </div>
                        <div id="Khả năng sử dụng công nghệ">
                            <p>Khả năng sử dụng công nghệ : <span class="inforText" id="technology-skill"></span> </p>
                        </div>
                        <div id="Sở trường">
                            <p>Sở trường : <span class="inforText" id="best-skill"></span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>