* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.chart-container {
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.chat-container {
    width: 400px;
    height: 100vh;
    background-color: #f9f9f9;
    border-left: 1px solid #ccc;
    position: relative;
    padding:20px;
}

.chat-history {
    height: calc(100% - 50px);
    overflow-y: auto;
}

.chat-message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.chat-message.user {
    background-color: #d1e7fd;
    text-align: right;
}

.chat-message.bot {
    background-color: #f1f1f1;
}

.input-container {
    display: flex;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left:10px;
}

#user-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.send-button {
    width: 15%;
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.send-button:hover {
    background-color: #0056b3;
}
.back{
    background-image:url("../../../img/back.png");
    background-size: cover;
    top:4vw;
    left:20px;
    width:50px;
    height:50px;
    background-color: white;
    border-radius:10px ;
    box-shadow: 1px 1px 1px 1px black;
    cursor:pointer;
    position: absolute;
}
.back:active{
    box-shadow: 0.5px 1px 1px 0.5px black;
}
.back:hover{
    opacity: 0.8;
}
.loading-location{
    width:100%;
    height:100%;
    background-color: #000000f3;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: absolute;
    z-index: 101;
    top:0;
    left:0;
}
.loading-circle{
    background-color: transparent;
    border-radius: 100%;
    width:10vw;
    height:10vw;
    border: 10px solid #ccc;
    border-top: 10px solid #2990ff;
    animation: spin 1s linear infinite;
}